


.sidebar-action-button {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}


.aside-container {
  background-color: var(--aside-color-1);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1em;
}

.nav-item > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}

.nav-item > a,
.nav-item > button {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}
.nav-item > a > img,
.nav-item > button > img {
  height: 100%;
  width: 1.5em;
  aspect-ratio: 1/1;
  margin-right: 10px;
}
.nav-item > a > span,
.nav-item > button > span {
  color: rgb(var(--white) / 0.8);
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.nav-item > a:hover,
.nav-item > button:hover {
  background-color: rgb(var(--white) / 0.2);
}

