@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&family=Roboto:wght@100;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backcolor-1: #f5f7f8;
  --backcolor-2: rgb(22, 27, 34);
  --backcolor-3: #161b22;

  --aside-color-1: #2c3940;

  --opbackcolor-1: 255 255 255;

  --fontcolor-1: #ffffff;

  --white: 255 255 255;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent !important;
  /* outline: 1px solid red; */
}
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--backcolor-1);
}

.icon{
  color: white;
}

main {
  height: 100vh;
  width: 100vw;
  padding: 1em;
}

@media screen and (min-width: 1150px) {
  main {
    width: calc(100vw - 20em);
    transform: translatex(20em);
  }
}