.proyectos-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-proyectos-container{
  height: 30px;
  display: flex;
  align-items: center;
}

.lista-proyectos-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow-y: scroll;
  padding: 0.5em;
  flex-wrap: wrap;
}

.card-proyecto{
  width: 400px;
  height: 250px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 0.5em;
}

@media screen and (max-width: 890px) {
  .card-proyecto{
    width: 100%;
  }
  
}